[Unit]
Description=Verium miner

[Service]
RuntimeDirectory=verium
WorkingDirectory=/var/run/verium
ExecStart=/usr/bin/veriumminer \
                --config=/etc/verium.conf

# Restart miner every 6 hrs to prevent efficency loss
WatchdogSec=21600
WatchdogSignal=SIGQUIT
Restart=always
RestartSec=3

SyslogIdentifier=verium-miner
KillSignal=SIGQUIT
User=root
Group=root
Nice=-19

[Install]
WantedBy=multi-user.target